# Melhor forma de usar pivot e groupby()

In [1]:
import pandas as pd

In [2]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

In [3]:
drinks.head()

       country  beer_servings  ...  total_litres_of_pure_alcohol  continent
0  Afghanistan              0  ...                           0.0       Asia
1      Albania             89  ...                           4.9     Europe
2      Algeria             25  ...                           0.7     Africa
3      Andorra            245  ...                          12.4     Europe
4       Angola            217  ...                           5.9     Africa

[5 rows x 6 columns]

In [5]:
drinks.groupby('continent').beer_servings.mean()

continent
Africa            61.471698
Asia              37.045455
Europe           193.777778
North America    145.434783
Oceania           89.687500
South America    175.083333
Name: beer_servings, dtype: float64

In [6]:
drinks.groupby('continent').beer_servings.max()

continent
Africa           376
Asia             247
Europe           361
North America    285
Oceania          306
South America    333
Name: beer_servings, dtype: int64

In [10]:
drinks.groupby('continent').beer_servings.agg(['max','mean','min'])

               max        mean  min
continent
Africa         376   61.471698    0
Asia           247   37.045455    0
Europe         361  193.777778    0
North America  285  145.434783    1
Oceania        306   89.687500    0
South America  333  175.083333   93

In [11]:
df = pd.DataFrame({'name':['A','A','B','B'], 'day':[1,2,1,2],'weight':[100,103,130,129], 'height':[67,68,72,72]})

In [12]:
df

  name  day  weight  height
0    A    1     100      67
1    A    2     103      68
2    B    1     130      72
3    B    2     129      72

In [14]:
df.set_index(['name','day'])

          weight  height
name day
A    1       100      67
     2       103      68
B    1       130      72
     2       129      72

In [15]:
df.set_index(['name','day']).to_panel()

AttributeError: ignored