In [1]:
import pandas as pd
import numpy as np

#Mostrar as versões instaladas

In [2]:
pd.__version__

'1.0.5'

In [3]:
pd.show_versions()

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)
/usr/local/lib/python3.6/dist-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.6.9.final.0
python-bits      : 64
OS               : Linux
OS-release       : 4.19.104+
machine          : x86_64
processor        : x86_64
byteorder        : little
LC_ALL           : None
LANG             : en_US.UTF-8
LOCALE           : en_US.UTF-8

pandas           : 1.0.5
numpy            : 1.18.5
pytz             : 2018.9
dateutil         : 2.8.1
pip              : 19.3.1
setuptools       : 47.3.1
Cython           : 0.29.20
pytest           : 3.6.4
hypothesis       : None
sphinx           : 1.8.5
blosc            : None
feather          : 0.4.1
xlsxwriter       : None
lxml.etree       : 4.2.6
html5lib         : 1.0.1
pymysql          : None
psycopg2         : 2.7.6.1 (dt dec pq3 ext lo64)
jinja2           : 2.11.2
IPython          : 5.5.0
pandas_datareader: 0.8.1
bs4              : 4.6.3
bottleneck       : 1.3.2
fastparquet      : None
gcsfs            : None
lxml.etree       : 4.2.6
matplotlib       : 3.2.2
numexpr          : 2.7.1
odfpy            : None
openpyxl         : 2.5.9
pandas_gbq       : 0.11.0
pyarrow          : 0.14.1
pytables         : None
pytest           : 3.6.4
pyxlsb           : None
s3fs             : 0.4.2
scipy            : 1.4.1
sqlalchemy       : 1.3.17
tables           : 3.4.4
tabulate         : 0.8.7
xarray           : 0.15.1
xlrd             : 1.1.0
xlwt             : 1.3.0
xlsxwriter       : None
numba            : 0.48.0

# Criando um dataframe para exemplo

In [4]:
df = pd.DataFrame({'col one':[100,200],'col two':[300,400]})

In [5]:
df

   col one  col two
0      100      300
1      200      400

In [6]:
pd.DataFrame(np.random.rand(4,8))

          0         1         2  ...         5         6         7
0  0.384452  0.724115  0.584806  ...  0.228655  0.696914  0.992075
1  0.110453  0.609818  0.245999  ...  0.255722  0.722998  0.161828
2  0.769063  0.362888  0.987792  ...  0.568981  0.288736  0.622442
3  0.084086  0.836599  0.079585  ...  0.824413  0.383891  0.833540

[4 rows x 8 columns]

In [7]:
pd.DataFrame(np.random.rand(4,8), columns=list('abcdefgh'))

          a         b         c  ...         f         g         h
0  0.308826  0.173858  0.493040  ...  0.701129  0.495967  0.985009
1  0.517408  0.897304  0.091964  ...  0.137056  0.938777  0.157653
2  0.576010  0.867214  0.661246  ...  0.890333  0.403599  0.002240
3  0.426598  0.100554  0.548223  ...  0.992208  0.923698  0.287853

[4 rows x 8 columns]

# Renomeando Colunas

In [8]:
df

   col one  col two
0      100      300
1      200      400

In [9]:
df = df.rename({'col one':'col_one', 'col two':'col_two'}, axis = 'columns')
df

   col_one  col_two
0      100      300
1      200      400

In [11]:
df.columns = ['col_1','col_2']
df

   col_1  col_2
0    100    300
1    200    400

In [13]:
df.columns = df.columns.str.replace('_', ' ')
df

   col 1  col 2
0    100    300
1    200    400

In [15]:
df.add_prefix('x_')

   x_col 1  x_col 2
0      100      300
1      200      400

In [16]:
df.add_suffix('_x')

   col 1_x  col 2_x
0      100      300
1      200      400

# Ordem Reversa

In [17]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

In [18]:
drinks.head()

       country  beer_servings  ...  total_litres_of_pure_alcohol  continent
0  Afghanistan              0  ...                           0.0       Asia
1      Albania             89  ...                           4.9     Europe
2      Algeria             25  ...                           0.7     Africa
3      Andorra            245  ...                          12.4     Europe
4       Angola            217  ...                           5.9     Africa

[5 rows x 6 columns]

In [19]:
drinks.loc[::-1].head()

       country  beer_servings  ...  total_litres_of_pure_alcohol      continent
192   Zimbabwe             64  ...                           4.7         Africa
191     Zambia             32  ...                           2.5         Africa
190      Yemen              6  ...                           0.1           Asia
189    Vietnam            111  ...                           2.0           Asia
188  Venezuela            333  ...                           7.7  South America

[5 rows x 6 columns]

In [20]:
drinks.loc[::-1].reset_index(drop = True).head()

     country  beer_servings  ...  total_litres_of_pure_alcohol      continent
0   Zimbabwe             64  ...                           4.7         Africa
1     Zambia             32  ...                           2.5         Africa
2      Yemen              6  ...                           0.1           Asia
3    Vietnam            111  ...                           2.0           Asia
4  Venezuela            333  ...                           7.7  South America

[5 rows x 6 columns]

# Revertendo a ordem das colunas

In [21]:
drinks.loc[:,::-1].head()

  continent  total_litres_of_pure_alcohol  ...  beer_servings      country
0      Asia                           0.0  ...              0  Afghanistan
1    Europe                           4.9  ...             89      Albania
2    Africa                           0.7  ...             25      Algeria
3    Europe                          12.4  ...            245      Andorra
4    Africa                           5.9  ...            217       Angola

[5 rows x 6 columns]

# Selecionando colunas pelos tipos de dados

In [23]:
drinks.select_dtypes(include='number').head() # Esse argumento incluirá inteiros e floats

   beer_servings  spirit_servings  wine_servings  total_litres_of_pure_alcohol
0              0                0              0                           0.0
1             89              132             54                           4.9
2             25                0             14                           0.7
3            245              138            312                          12.4
4            217               57             45                           5.9

In [24]:
drinks.select_dtypes(include = 'object').head()

       country continent
0  Afghanistan      Asia
1      Albania    Europe
2      Algeria    Africa
3      Andorra    Europe
4       Angola    Africa

In [25]:
drinks.select_dtypes(include=['number', 'object', 'category', 'datetime']).head()

       country  beer_servings  ...  total_litres_of_pure_alcohol  continent
0  Afghanistan              0  ...                           0.0       Asia
1      Albania             89  ...                           4.9     Europe
2      Algeria             25  ...                           0.7     Africa
3      Andorra            245  ...                          12.4     Europe
4       Angola            217  ...                           5.9     Africa

[5 rows x 6 columns]

In [26]:
drinks.select_dtypes(exclude = 'number').head()

       country continent
0  Afghanistan      Asia
1      Albania    Europe
2      Algeria    Africa
3      Andorra    Europe
4       Angola    Africa

# Converter String para número

In [27]:
df = pd.DataFrame({'col_one':['1.1', '2.2', '3.3'],
                   'col_two':['4.4', '5.5', '6.6'],
                   'col_three':['7.7', '8.8', '-']})
df

  col_one col_two col_three
0     1.1     4.4       7.7
1     2.2     5.5       8.8
2     3.3     6.6         -

In [28]:
df.dtypes

col_one      object
col_two      object
col_three    object
dtype: object

In [31]:
df.astype({'col_one':'float','col_two':'float'}).dtypes

col_one      float64
col_two      float64
col_three     object
dtype: object

Entretanto, se tentarmos incluir a tereira coluna nesse esquema teríamos um erro. Isso porque a terceira coluna na terceria linha é um hífen, e o pandas não sabe como interpreta-lo

Ao ínves disso, podemos usar to_numeric() e explicitar apra converter um caracter invalido para NaN

In [32]:
pd.to_numeric(df.col_three,errors='coerce')

0    7.7
1    8.8
2    NaN
Name: col_three, dtype: float64

In [33]:
pd.to_numeric(df.col_three, errors='coerce').fillna(0)

0    7.7
1    8.8
2    0.0
Name: col_three, dtype: float64

Para aplicar isso em todo data frame usamos o apply()

In [34]:
df = df.apply(pd.to_numeric, errors='coerce').fillna(0)
df

   col_one  col_two  col_three
0      1.1      4.4        7.7
1      2.2      5.5        8.8
2      3.3      6.6        0.0

In [35]:
df.dtypes

col_one      float64
col_two      float64
col_three    float64
dtype: object

# Construindo um data frame atravé de multiplos arquivos

In [ ]:
stocks = pd.read_csv('http://bit.ly/smallstocks', parse_dates=['Date'])